[submodule "site-lisp/multiple-cursors"]
	path = site-lisp/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule "site-lisp/browse-kill-ring"]
	path = site-lisp/browse-kill-ring
	url = https://github.com/T-J-Teru/browse-kill-ring.git
[submodule "site-lisp/ace-jump-mode"]
	path = site-lisp/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "site-lisp/fix-ido"]
	path = site-lisp/fix-ido
	url = https://github.com/lewang/flx.git
[submodule "site-lisp/web-mode"]
	path = site-lisp/web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule "site-lisp/expand-region"]
	path = site-lisp/expand-region
	url = https://github.com/magnars/expand-region.el.git
