backups/
auto-save-list/
elpa/
org-clock-save.el
places

.mc-lists.el
.org-id-locations
my-custom-variables.el
bookmarks
/server/server
/url/cookies
/eshell/history
/projectile-bookmarks.eld
/projectile.cache
